{% extends "@App/layout.html.twig" %}
{%  block body %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Product</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                    <a class="nav-link" href="{{ path('feedback') }}">Feed Back</a>
                    <a class="nav-link active" href="{{path('products_list')}}">Products</a>
                    <a class="nav-link" href="{{path('category_list')}}">Category</a>
                </nav>
            </div>
        </header>

            <main role="main" class="inner cover">
                <h1 class="cover-heading">{{ product.title }}</h1>
                <p class="lead">/ <a href="{{ path('category_item', {id: product.category.id})}}">{{ product.category.name }}</a></p>
                <p class="lead">{{ product.description }}</p>
                <p class="lead">Price : {{ product.price }}
                    <br /><a href="{{ path('product_item', {id: product.id})}}" class="btn btn-lg btn-secondary">Learn more</a>
                </p>
            </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
        </footer>
    </div>
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/bootstrap.min.css')}}" rel="stylesheet" crossorigin="anonymous">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/app/css/cover.css')}}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}